*
{
margin: 0px;
padding: 0px;
}

body
{   
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin:0;
    box-sizing:border-box;
}

@keyframes mymove {
  from {background-color: white;}
  to {background-color: blue;}
}

header
{
    margin:0;
    width:100%;
    box-sizing:border-box;
    display:flex;
}


.logo 
{
width: 500px;
padding: 10px;
display: flex;
transition: ease-out 0.3s;

}

.logo:hover
{
  width: 550px;
}

header img{
    margin: 10px;
    padding: 10px;
    display:inline-flex;
    justify-content:flex-start;
    box-sizing:border-box;
    
  }

  header nav{
    width: 100%;
    margin: 0;
    display: inline-flex;
    box-sizing: border-box;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    
    
  } 
  header nav ul{
    width:170%;
    padding:10px;
    margin:10;
    display:block;
    text-align:center;
    
  }
  header ul li{
     padding: 5px;
     width:150px;
     background:#23b98c;
     list-style-type:none;
     display:inline-block;
     margin:10px;
     border: 1px solid black;
     border-radius: 3px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow: 0px 2px 3px gray;
     -moz-box-shadow: 0px 2px 3px gray;
     -webkit-box-shadow: 0px 2px 3px gray;
     text-decoration: underline;
     transition: ease-out 0.3s;
     position: relative; 
     z-index: 1;
     box-shadow: inset 0 0 0 0 lime;

     
  }
  header a{
    text-decoration:none;
    color:black;
  }

  header ul li:hover{
    color: blue;
    background: lime;
    border: 1px solid black;
    width: 200px;
    box-shadow: inset 300px 0 0 0 lime;
   
  }


  h1 {

   text-align: center;
    padding: 10px;
    margin: 20px;
    font-weight: 500;
     font-family: monospace;
  }

  .ez{
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    background-color: #23b98c;
    transition: ease-out 0.3s;
     position: relative; 
     z-index: 1;
     box-shadow: inset 0 0 0 0 lime;
}
.ez2{
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    background-color: #23b98c;
    transition: ease-out 0.3s;
    position: relative; 
    z-index: 1;
    box-shadow: inset 0 0 0 0 lime;
}

.ez:hover{
  background: lime;
  box-shadow: inset 300px 0 0 0 lime;

}

.ez2:hover{
  background: lime;
  box-shadow: inset 300px 0 0 0 lime;

}
.artykul1 {
    flex-basis: 50%;
  }

.artykul2 {
    flex-basis: 25%;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

footer p
{
    text-align: center;
    font-family: monospace;
    
}

.kontakt
{
    height: 675px;
}

.dane {
padding: 100px;

}

.dane2 a
{
  text-decoration:underline ;
  color:black;

} 

.artykul1 a {
color: black;
text-decoration: underline;
}

.artykul2 a {
  color: black;
  text-decoration: underline;
  }

.kontakt h2 {
  padding: 20px;
}

.kontakt a {
  color: black;
text-decoration: underline;
}

.kontakt p {
  padding: 20px;
  text-align: justify;
}

.kontakt ul {
  padding: 20px;
}

.kontakt li {
margin: 10px;}

.kontakt .link{
  color: #23b98c;
  text-decoration: none;
}

.kontakt audio{
display: flex;
padding: 20px;

}

.kontakt ol {
  padding: 30px;
}


.kontakt .problem {
width: 18%;
float: right;
border-radius: 30px;
padding: 10px;


}

.kontakt .sentino {
width: 18%;
float: right;
border-radius: 30px;
padding: 10px;

}

.kontakt .sting {
width: 19%;
float: right;
border-radius: 30px;
padding: 10px;

}

.kontakt .nirvana {
  width: 18%;
  float: right;
  border-radius: 30px;
  padding: 10px;

}

.kontakt h2 
{
  font-family: monospace;
}

.kontakt .glowna {
  font-family: monospace;
}

.kontakt .glowna1 {
  font-family: monospace;
  font-size: 25px;
  padding: 10px;
  margin: 20px;
}

.kontakt .koncert {
  margin-right: 100px;
  border-radius: 70px;
  width: 700px;
  float: right;
  transition: ease-out 0.3s;
     position: relative; 
     z-index: 1;
     box-shadow: inset 0 0 0 0 lime;
}

.kontakt .koncert:hover {
  margin-right: 100px;
  border-radius: 70px;
  width: 750px;
  float: right;
  box-shadow: 0px 4px 6px black;

}



.kontakt .nuta1 {
width: 50px;
display: flex;

}

.kontakt .nuta2 {
  width: 50px;
  display: flex;
}

.kontakt form {
  padding: 20px;
  font-size: 22px;
  font-family: monospace;
}

.kontakt .button
{
  width: 100px;
}

input[type="button" i] {
  appearance: auto;
  user-select: none;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: #23b98c;
  color: black;
  padding: 4px 7px;
  border-width: 1px;
  border-style: outset;
  border-image: initial;
  font-family: monospace;
  font-size: 18px;
  border-radius: 70px;
  transition: ease-out 0.3s;
  position: relative; 
     z-index: 1;
     box-shadow: inset 0 0 0 0 lime;
     width: 75px;
}
input[type="button" i]:hover {
width: 100px;
box-shadow: inset 300px 0 0 0 lime;

}

input[type="text" i] {
  padding: 5px 7px;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  height: 20px;
  font-size: 18px;


}

  input[type="password" i] {
    padding: 5px 7px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    height: 20px;
    font-size: 18px;
  }

  .kontakt .reg{
    font-size: 70px;
  }

  input[type="submit" i] {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: #23b98c;
    color: black;
    padding: 4px 7px;
    border-width: 1px;
    border-style: outset;
    border-image: initial;
    font-family: monospace;
    font-size: 18px;
    border-radius: 70px;
    transition: ease-out 0.3s;
    position: relative; 
       z-index: 1;
       box-shadow: inset 0 0 0 0 lime;
       width: 150px;
  
  }

  input[type="submit" i]:hover {
    width: 200px;
    box-shadow: inset 300px 0 0 0 lime;
    
    }

  .kontakt .form-example {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    justify-content: center;
  }